/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
font-family: 'Raleway', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Work Sans', sans-serif;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	background-color: white;
}
body {
	line-height: 1;
	max-width: 1440px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	margin:auto;
	font-size: 14px;
	background-color: rgba(255, 254, 248, 1);
}

#displayHeadband {
	background-color: black; /* Couleur de fond noir */
	color: white; /* Couleur du texte blanc */
	position: fixed; /* Position fixe */
	width: 100vw; /* Largeur complète */
	max-width: 1440px;
	height: 59px; /* Hauteur fixe */
	top: 0; /* En haut de la page */
	display: flex; /* Utiliser flexbox */
	justify-content: center; /* Centrer horizontalement */
	align-items: center; /* Centrer verticalement */
  }

header {
	box-sizing: border-box;
	
}

header img {
	width: 19px;
 	height: 19px;
}

#headerMenu {
	display: flex;
	justify-content: space-between;
	margin-right: 180px;
	margin-left: 180px;
	margin-top: 0;
	padding-top: 50px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	margin-top: 5px;
	font-weight: 400;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav {
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 14px;
	font-weight:300;
}

nav ul li a {
	text-decoration: none; 
	color: black; 
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	width: 1008px;
  	margin: auto;
  	margin-top: 100px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 90%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 120px;
}

#portfolio > h2 {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
#portfolioTitle {
    display: flex;
    align-items: center; 
	justify-content: space-between;
    gap: 10px; 
}

#portfolioTitle > a {
	color: black;
	text-decoration: none;
}

#linkModal {
	font-size: 14px;
	font-family: Work Sans;
	font-weight: 400;
}

#portfolioTitle text {
  font-size: 14px;
  font-family: Work Sans;
  font-weight: 400;
}

#portfolioTitle .fa-regular {
    margin-left: 12px;
	margin-right: 12px; 
	font-size: 15px;
}

#buttons button {
	background-color: rgba(255, 254, 248, 1);
	color: rgba(29, 97, 84, 1);
	border-radius: 60px;
	border-width: 1px;
	border-color: #1D6154;
	width: fit-content;
	min-width: 80px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 16px;
}

#buttons button:hover {
	background-color:#1D6154;
	color:white;
}

#buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}

.gallery {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery > figure {
	margin : 0;
}
.gallery img {
	width: 100%;
	margin : 0;
}

.gallery p {
	margin: 0; 
	margin-top: 3px;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer {
	background-color: white;
	height: 60px;
	margin-top: 250px;
}

.modal {
	z-index: 2; /* Mettre la fenêtre modale au-dessus de tout le reste */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 630px;/* Largeur de la fenêtre modale */
	height: 688px; /* Hauteur de la fenêtre modale */
  }
  
  /* Contenu de la fenêtre modale */
  .modal-content {
	background-color: #fefefe;
	margin: 0 auto; /* Centrer horizontalement */
	padding: 20px;
	border: 0px;
	width: 93%; /* Largeur du contenu de la fenêtre modale */
	height: 100%; /* Hauteur du contenu de la fenêtre modale */
	position: relative; /* Position relative pour le bouton de fermeture */
	border-radius: 10px;
	display: flex;
	align-items:center;
	justify-content:center;
	flex-direction: column;
  }

  .modal-content h2 {
	position: absolute;
	top: 50px;
	right: 200px;
	color:#000;
	font-family: Work Sans;
	font-weight: 400;
	font-size: 26;
  }

  .modal-content button.submitBtnMdl {
	position: absolute;
	top: 650px;
	right: 200px;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	font-family: syne ;
	font-weight: 700;
	font-size: 14px;
	border: 0px;
	color: #fefefe;
	background-color: #1D6154;
  }
  .modal-content .fa-regular.fa-image {
	position: absolute;
	top: 10px;
	right: 190px;
	width: 76px
	height: 76px;
	font-size: 44px; 
  }

  .modal-content #validateBtnModalNext {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	color: white;
	background-color:rgba(167, 167, 167, 1);
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	border: 0;
	position: absolute;
	left: 190px;
	top: 630px;
  }

  .modal-content .selectCatMdlNxt {
	width: 420px;
	height: 51px;
  }

  .modal-content button.btnMdlNxt {
	position: absolute;
	top: 65px;
	right: 128px;
	background-color:rgba(203, 214, 220, 1);
	border-radius: 50px;
	color:rgba(48, 102, 133, 1);
	width: 173px;
	height: 36px;
	font-style: Work Sans;
	font-weight: 500;
	font-size: 14px;
  }

  .modal-content p {
	position: absolute;
	top: 95px;
	right: 170px;
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
  }

  .modal-content div.upload-btn-wrapper {
	width: 420px;
	height: 169px;
	background-color: rgba(232, 241, 246, 1);
	position: absolute;
	top: 126px;
	right: 105px;
  }

  .modal-content #openModalPrevious {
	font-size: 21px;
	font-weight: bold;
	position: absolute; /* Position absolue pour le bouton de fermeture */
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 30px;
	color: black;
  }

  .modal_Content_figure {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-bottom: 100px;
	margin-top: 0px;
  }

  .modal_Content_figure figure {
	margin:0px;
	margin-top: 15px;
	margin-right: 3px;
  }

  .imgCreateGallery {
	width: 76.86px;
 	height: 102.57px;
  }

  .figureCreateGallery {
	position: relative;
	display: inline-block;
  }
  
  .fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000;
	width: 17px;
	height: 17px;
	color: white;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .fa-trash-can::before {
	font-size: 10px;
  }

  .modal-content > hr {
	color: #rgba(179, 179, 179, 1);
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
	position: absolute;
	left: 100px;
	top: 600px;
  }

  .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
  }
  
  /* Bouton de fermeture */
  .close {
	font-size: 24px;
	font-weight: bold;
	position: absolute; /* Position absolue pour le bouton de fermeture */
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 30px;
	color: black;
	z-index: 2;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }  
  /* bouton pour ajouter une image */
  .submitBtn {
	font-family: syne ;
	font-weight: 700;
	font-size: 14px;
	width: 179px;
	height: 36px;
	border-radius: 60px;
	border: 0px;
  }